{% extends 'base.html.twig' %}

{% block title %}Hello BlogPostsController!{% endblock %}

{% block body %}

{% include 'blog_posts/_navbar/liste.html.twig' %}

<!-- Navbar responsiva -->



<section class="bg-white dark:bg-gray-900">
    <div class="container px-6 py-10 mx-auto">
        <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl text-white">Dai un'occhiata al nostro blog</h1>

        <div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
            <div class="lg:flex">
                <img class="object-cover w-full h-56 rounded-lg lg:w-64" src="https://images.unsplash.com/photo-1515378960530-7c0da6231fb1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="">

                <div class="flex flex-col justify-between py-6 lg:mx-6">
                    <a href="#" class="text-xl font-semibold text-black hover:underline text-black">
                        Come usare le note adesive per risolvere problemi
                    </a>
                    
                    <span class="text-sm text-gray-500 dark:text-gray-300">Pubblicato il: 20 Ottobre 2019</span>
                </div>
            </div>

            <div class="lg:flex">
                <img class="object-cover w-full h-56 rounded-lg lg:w-64" src="https://images.unsplash.com/photo-1497032628192-86f99bcd76bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="">

                <div class="flex flex-col justify-between py-6 lg:mx-6">
                    <a href="#" class="text-xl font-semibold text-gray-800 hover:underline text-black">
                        Come creare routine mattutine per migliorare l'umore
                    </a>

                    <span class="text-sm text-gray-500 dark:text-gray-300">Pubblicato il: 25 Novembre 2020</span>
                </div>
            </div>

            <div class="lg:flex">
                <img class="object-cover w-full h-56 rounded-lg lg:w-64" src="https://images.unsplash.com/photo-1544654803-b69140b285a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="">

                <div class="flex flex-col justify-between py-6 lg:mx-6">
                    <a href="#" class="text-xl font-semibold text-gray-800 hover:underline text-black">
                        La tua guida completa alle funzionalità che devi conoscere
                    </a>

                    <span class="text-sm text-gray-500 dark:text-gray-300">Pubblicato il: 30 Settembre 2020</span>
                </div>
            </div>

            <div class="lg:flex">
                <img class="object-cover w-full h-56 rounded-lg lg:w-64" src="https://images.unsplash.com/photo-1530099486328-e021101a494a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1547&q=80" alt="">

                <div class="flex flex-col justify-between py-6 lg:mx-6">
                    <a href="#" class="text-xl font-semibold text-gray-800 hover:underline text-black">
                        Come creare uno spazio di lavoro minimal per l'ispirazione
                    </a>

                    <span class="text-sm text-gray-500 dark:text-gray-300">Pubblicato il: 13 Ottobre 2019</span>
                </div>
            </div>

            <div class="lg:flex">
                <img class="object-cover w-full h-56 rounded-lg lg:w-64" src="https://images.unsplash.com/photo-1624996379697-f01d168b1a52?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="">

                <div class="flex flex-col justify-between py-6 lg:mx-6">
                    <a href="#" class="text-xl font-semibold text-gray-800 hover:underline text-black">
                        Cosa dovresti sapere sulla blockchain
                    </a>
                    
                    <span class="text-sm text-gray-500 dark:text-gray-300">Pubblicato il: 20 Ottobre 2019</span>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
