<nav id="bar" class="flex justify-center py-6 border-b border-gray-300 text-white">
    <div class="flex flex-col md:flex-row justify-center md:space-y-0 space-y-4 text-center text-gray-500">
        <a href="#" class="mx-8 hover:text-red-900 active:text-red-900" aria-current="page">Carrello</a>
        <a href="#" class="mx-8 hover:text-red-900">Documentazione</a>
        <a href="#" class="mx-8 hover:text-red-900">Blog</a>
        <a href="#" class="mx-8 hover:text-red-900">Servizi</a>
        <a href="#" class="mx-8 hover:text-red-900">Prezzi</a>
    </div>
</nav>